.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}
.search {
	width: 1000px;
	align-self: center;
	margin-bottom: 20px;
	padding-left: 15px;
}

.search > input {
	border: 1px solid #e9d9d9;
	outline: none;
	padding: 5px 15px;
	font-size: 0.9rem;
	border-radius: 5px;
	max-width: 210px;
}

.search > button {
	border: none;
	outline: none;
	/* padding: 5px 15px; */
	background-color: transparent;
	font-size: 1rem;
	border-radius: 5px;
	margin-left: 10px;
}

.search > button > img {
	width: 20px;
	vertical-align: middle;
}
.allrestraunts {
	width: 1000px;
	display: grid;
	grid-template-columns: repeat(4, minmax(230px, 1fr));
	place-items: center;
	gap: 10px;
}

.allrestraunts > a {
	text-decoration: none;
	color: black;
}

.footer {
	display: block;
	text-align: center;
	padding: 10px;
	color: #686868;
	font-size: 0.9rem;
	border-top: 1px solid #e2cccc;
}

@media screen and (max-width: 1017px) {
	.search {
		width: 720px;
		padding-left: 12px;
	}
	.allrestraunts {
		width: 720px;
		grid-template-columns: repeat(3, minmax(230px, 1fr));
	}
}
@media screen and (max-width: 737px) {
	.search {
		width: 344px;
		padding-left: 3px;
	}

	.search > input {
		max-width: 160px;
		font-size: 0.8rem;
	}

	.allrestraunts {
		width: 353px;
		grid-template-columns: repeat(2, minmax(160px, 1fr));
	}
}
@media screen and (max-width: 300px) {
	.search {
		width: 160px;
		padding-left: 3px;
	}

	.search > input {
		max-width: 125px;
		font-size: 0.8rem;
	}

	.allrestraunts {
		width: 353px;
		grid-template-columns: repeat(1, minmax(160px, 1fr));
	}
}
