.formWrapper {
	height: 90vh;
	padding-top: 100px;
}
.form {
	width: 300px;
	display: flex;
	flex-direction: column;
	margin: auto;
	gap: 5px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eecbcb;
	background-color: #e7e7de;

}

.form > label {
    color: #250202;
}

.form > input {
	padding: 3px 5px;
	border: 2px solid #817f7f;
	border-radius: 4px;
	outline: none;
}
.form > input:focus {
	outline: none;
}
.form > button {
	margin-top: 15px;
	padding: 10px 0;
	border: none;
	border-radius: 5px;
    cursor: pointer;
    color: white;
	background: #000;
}

.form > span {
    margin-top: 15px;
    color: #a76767;
}

.form > span > a {
    color: #8c1ef3;
    text-decoration: none;
}